/*-- scss:defaults --*/
$navbar-bg: #5e009c;
$navbar-fg: #ffffff;
$sidebar-bg: #262626;
$sidebar-fg: #d256ff;
$sidebar-hl: #ffffff;
$footer-bg: #000000;
$footer-fg: #ffffff;
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 50px;
}
.panel-tabset {
    margin-top: 50px;
}
